* {
  margin: 0;
  padding: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
}

/* ----- NAV BAR ----- */
/* --- NAV BAR --- */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 30px;
}

.nav-link li {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.nav-btn a {
  color: rgba(0, 0, 0, 1);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
.nav-btn {
  border: none;
  background-color: white;
}
.nav-link ul {
  display: flex;
  gap: 48px;
}
.nav-link {
  display: flex;
  gap: 48px;
  align-items: center;
  padding: 18px 0;
}

/* ----- Banner ----- */
.banner {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: end;
  margin-top: 200px;
}
.banner-box h1 {
  font-size: 4rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 13px;
}
.banner-box span {
  color: rgba(233, 90, 8, 1);
}
.banner-box p {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
/* --- Our Plants --- */
.plants {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 117px;
  margin-bottom: 210px;
}

.plant-box h1 {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 16px;
}
.plant-box span {
  color: rgba(233, 90, 8, 1);
}
.plant-box p {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 49px;
}
.plant-box {
  text-align: center;
}
/* --- CARD --- */

.plant-box2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
}

.plant-card img {
  width: 100%;
}

.plant-card p {
  font-family: "Inter", sans-serif;
  color: rgba(17, 17, 17, 1);
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 30px;
}

.plant-card h2 {
  font-family: "Inter", sans-serif;
  color: rgba(17, 17, 17, 1);
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
}

.plant-card button {
  width: 100%;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 19px 75px;
  background-color: rgba(233, 90, 8, 1);
  margin-top: 30px;
}

/* ----- Flower & Plants Lover ----- */
.flower-store {
  max-width: 85%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 65px;
  align-items: center;
}

.flower-store-list img {
  width: 250px;
  position: absolute;
  margin-top: -180px;
  margin-left: -200px;
}

.flower-store-list h1 {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  margin-top: 20px;
}

.flower-store-list ul li {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-left: 30px;
}
.flower-store-list {
  max-width: 540px;
}

/* --- Mobile Responsive --- */

/* max-width: 600px */

@media screen and (max-width: 576px) {
  /* ---- nav bar ---- */
  .nav-link ul {
    display: none;
  }
  .nav-bar {
    max-width: 96%;
  }
  /* --- Banner --- */
  .banner {
    flex-direction: column-reverse;
    max-width: 96%;
  }
  .banner-box h1 {
    font-size: 3rem;
    margin-top: 28px;
    margin-bottom: 13px;
  }
  .banner img {
    width: 100%;
  }
  /* ----- Our Plants ----- */

  .plants {
    max-width: 96%;
  }
  .plant-box h1 {
    font-size: 1.5rem;
  }
  .plant-box p {
    font-size: 0.9rem;
  }
  .plant-box br {
    display: none;
  }
  /* ---- CARD ---- */

  .plant-box2 {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ----- Flower & Plants Lover ----- */
  .flower-store {
    flex-direction: column;
  }

  .flower-store-list h1 br {
    display: none;
  }
  .flower-store-list h1 {
    font-size: 2.5rem;
  }
  .trusted-badge {
    display: none;
  }
}
